params {
    raw_data = "${projectDir}/raw_data/samusik_all_asinh.csv"
    marker_info_file = "${projectDir}/raw_data/samusik_all_asinh_markers_info.csv"
    publish_dir = "${projectDir}/int_files"
    benchmark_ntimes = 2
    louvain_config = "${projectDir}/config/louvain_config.csv"
    max_cores = 8
}

process {
    executor = 'slurm'
    cache = 'lenient'
}

nextflow {
    enable.dsl=2
}